{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="screen" />
    {% block extraheaders %}{% endblock %}
</head>
<body>
<div id="header">
    {% block header %}
    <h2 class="sitetitle">Chess by Web Mail</h2>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}.</p>
    {% endif %}
    <ul id="navbar">
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'inbox' %}">Inbox</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
    </ul>
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>