<h1>Inbox (WIP)</h1>
<p>Welcome, {{ user.username }}</p>
<p><a href="{% url 'new_game' %}">New Game</a></p>
<table>
    <tr><th>Name</th><th>Opponent</th><th>Status</th></tr>
    {% for game in games %}
    <tr>
        <td><a href="{% url 'game' game.id %}">{{ game.name }}</a></td>
        <td>{{ game.opponent }}</td>
        <td>{{ game.status }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="3">No current games</td></tr>
    {% endfor %}
</table>
<p><a href="{% url 'logout' %}">Logout</a></p>
